.compWrapper {
  display: block;
  strong{
    font-size:24px;
    font-weight: bold;
    color: #000;
    display: block;
    margin-bottom: 5px;
  }
  .formContainer {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1.5rem;
    column-gap: 1rem;
    > div {
      flex: 0 0 100%;
      @media (min-width: 768px) {
        flex: 0 0 48%;
      }
    }
    textarea {
      width: 100%;
      border-radius: 6px;
      border: 1px solid #ced4da;
      height: 58px;
      padding: 13px;
      font-size: 16px;
      color: #5f6f7e;
    }
    .agreement {
      flex: 0 0 100%;
      label {
        padding-left: 10px;
        display: inline;
      }
    }

    .buttonWrapper {
      :global(.btn-primary) {
        background: #f05f02;
        border: none;
        &:hover {
          background: #cc3304;
        }
      }
      flex: 0 0 100%;
      text-align: center;
      button {
        width: 100%;
        height: 3.5rem;
        max-width: 15rem;
      }
    }
  }
}
