<section class="info_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-4  col-lg-4">
          <h6>
            About ZZ
          </h6>
          <p>At ZZ Perfumer, we believe fragrance is more than a scent—it’s an experience. Our carefully crafted
            perfumes are designed to captivate the senses and leave a lasting impression. Explore our collection and
            find the perfect fragrance that reflects your unique style.</p>
        </div>
        <div class="col-md-3  col-lg-3 offset-lg-1">
          <h6>
            Links
          </h6>
          <ul>
            <li class=" active">
              <a class="" href="index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="">
              <a class="" href="about.html">About </a>
            </li>
            <li class="">
              <a class="" href="product.html">Products </a>
            </li>
            <li class="">
              <a class="" href="privacy.html">Privacy </a>
            </li>
            <li class="">
              <a class="" href="contact.html">Contact Us</a>
            </li>
          </ul>
        </div>

        <div class="col-md-4 col-lg-4">
          <h6>
            Contact Us
          </h6>
          <div class="info_link-box">
            <a href="">
              <i class="fa fa-map-marker-alt"></i>
              <span> Am Hauptbahnhof 12, Frankfurt, Germany</span>
            </a>
            <a href="">
              <i class="fa fa-phone-alt"></i>
              <span>+91 8355841678</span>
            </a>
            <a href="">
              <i class="fa fa-envelope"></i>
              <span> zzperfumer7@gmail.com</span>
            </a>
          </div>
          <div class="info_social">
          <a href=""><i class="fab fa-twitter"></i></a>
          <a href=""><i class="fab fa-facebook-f"></i></a>
          <a href=""><i class="fab fa-linkedin-in"></i></a>
          <a href=""><i class="fab fa-instagram"></i></a>
        </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info section -->


  <!-- footer section -->
  <section class="container-fluid footer_section ">
    <div class="container">
      <p>
        &copy; All Rights Reserved. Design by
        <a href="https://www.webcreatix.com">WebCreatix</a>
      </p>
    </div>
  </section>