.factsWrapper {
  position: relative;
  min-height: 457px;
  height: auto;
  z-index: 0;
  background: #292f34 url(../../../public/images/achievements.jpg) no-repeat fixed;
  position: relative;
  h2 {
    background: rgba(0, 0, 0, 0.29);
    line-height: 37px;
    padding: 14px 0 15px;
    margin-bottom: 71px;
    text-align: center;
    color: #fff;
  }
  .item {
    background: #f05f02;
    text-transform: uppercase;
    width: 180px;
    height: 180px;
    border-radius: 50% !important;
    margin: 90px auto;
    text-align: center;
    color: #fff;
    display: flex;
    flex-flow: column;
    justify-content: center;
    @media (max-width: 767px) {
      margin-bottom: 32px;
    }
    strong {
      display: block;
      font-size: 50px;
      text-transform: none;
      color: #fff;
      line-height: 1;
    }
  }
}
