.wcReviewsSection{
    padding:60px 20px;
    background:#f7f8fc;
    font-family:Arial, sans-serif;
}

.wcReviewsSection .container{
    max-width:1200px;
    margin:auto;
}

.sectionTitle{
    text-align:center;
    margin-bottom:50px;
}

.sectionTitle h2{
    font-size:48px;
    font-weight:600;
    color:#111;
    margin-bottom:15px;
}

.sectionTitle h2 span{
    color:#f05f02;
}

.sectionTitle p{
    font-size:18px;
    color:#666;
    margin:auto;
}