/* Carousel css */
.bannerWrapper {
  // display: block;

  overflow: hidden;
  @media (min-width: 1024px) {
    height: 25rem;
    opacity: 3.0;
  }
  img {
    width: 100%;
    max-height: 100%;
  }
}
